<div data-controller="stimulustest">
  <input data-stimulustest-target="name" type="text">
  <button data-action="click->stimulustest#greet">
    Greet
  </button>
  <span data-stimulustest-target="output">
  </span>
</div>
